/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Landing Sumo - Theme 20
 * URL: http://LandingSumo.com
 * Version: 1.0
 * Exclusive Freebie for BlackTie.co
 */

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
	background: #fff; 
	margin: 0; 
	color: #5a5a5a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h3 {
	line-height: 1.4;


}


p { 
	padding: 0; 
	margin-bottom: 12px; 
    font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	line-height: 26px;
	letter-spacing: 1px;
	color: #666; 
	margin-top: 10px; 
}

html,
body {
	height: 100%;
  width: 100%;
}

img {
    max-width: 100%;
}


.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 30px;}

.space {margin-top: 50px;}

.mb {margin-bottom: 50px;}
.mtb {margin-top: 45px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}
::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
	color: #1abc9c;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
	padding: 0px !important;
	margin: 0px;
}


/* FORM CONFIGURATION */

input {
	font-size: 16px;
	min-height: 40px;
	border-radius: 25px;
	line-height: 20px;
	padding: 15px 30px 16px;
	border: 1px solid #b9b9af;
	margin-bottom: 10px;
	background-color: #fff;
	opacity: 0.9;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

@media screen and (max-width: 767px) {
	.subscribe-input {
		width: 100%;
	}
}

.subscribe-submit {
	right: 0;
}

.btn-download {
	background: #FDE3A7;
}

/*Buttons Configuration */
.btn-conf {
	border-radius: 50px;
	margin-right: 15px;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 18px 28px 17px 28px;
	}

.btn-conf-2 {
	border-radius: 5px;
	margin-right: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px 28px 15px 28px;
	margin-top: 20px;
	font-weight: 300;
    font-style: normal;
    font-size: 17px;
    letter-spacing: .25px;
	}	

.btn-green {
	background: #00AB6A;
	color: white;
	}
.btn-green:hover {
	background: #00794c;
	color: white;
}


.btn-trans {
	background: none;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	margin-right: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px 28px 15px 28px;
	margin-top: 20px;
	font-weight: 300;
    font-style: normal;
    font-size: 17px;
    letter-spacing: .25px;
    width: 200px;

}
/* HEADER SECTION */
#h {
	
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../assets/img/sciencebbbb.jpg) no-repeat center top;
	padding-top: 70px;
	padding-bottom: 20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* 404 HEADER SECTION */
#er {
	
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../assets/img/gif.gif) no-repeat center top;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* 404 HEADER SECTION */
#ty {
	
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://media.giphy.com/media/Hd3GXtH7xs1CU/giphy-downsized.gif) no-repeat center top;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* platform SECTION */
#gl {
	
	background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url(../../assets/img/Science-bg-groenb.jpg) no-repeat center top;
	padding-top: 90px;
	padding-bottom: 60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;
	color: white;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#gl h1 {
	
	color: white;
	font-size: 65px;
}

#gl .social {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}


#h .logo {
	top: 30px;
	left: 45px;
	font-size: 18px;
	font-weight: 900;
	position:absolute; 
}

#h .social {
	top: 30px;
	right: 45px;
	font-size: 20px;
	position: absolute;
}

#h .social i {
	margin-left: 20px;
}

#h .social a {
	color: white;
}

#h h1 {
	font-weight: 300;
	color: white;
	font-size: 42px;
}

/* Store Links */
.store img {
	margin-right: 10px;
	margin-top: 20px;
}

/* SEP old: background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../assets/img/sd-memes4.jpg) no-repeat center top;*/
#sep {
	
	background: linear-gradient(90deg, #5c58a5, #1d86e0);
	padding-top: 90px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 330px;
	width: 100%;
	color: white;

	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sep h4 {
	letter-spacing: 1px;
	line-height: 30px;
	margin-top: 30px;
}

/* Pricing Tables */
.price-table {
	border: 2px solid #5a5a5a;
	border-radius: 25px;
	padding-top: 15px;
	padding-bottom: 25px;
	margin: 5px; 
}

.price-table .p-head {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 80px;
	border-bottom: 2px solid #ccc;
}

.price-table .p-body .features li {
	color: #333333;
	border-bottom: 2px solid #ccc;
	padding: 24px 0px;
	margin: 0;
	letter-spacing: 1px;
}

.p-body .price .detail {
	font-weight: 700;
	font-size: 45px;
	margin-left: 10px;
	margin-right: 10px;
}

.p-body .price .sub {
	font-size: 18px;
	color: #ccc;
	position: relative;
	bottom: 10px;
	font-weight: 700;
}

ul {
	list-style-type: none;
}

/* SPONSORS */
#g {
	background: #f2f2f2;
	padding-top: 60px;
	padding-bottom: 60px;
}

.sponsor img {
	max-width: 140px;
	max-height: 60px;
	width: 100%;
	vertical-align: middle;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.sponsor .col-sm-2 {
	height: 80px;
	line-height: 80px;
}

/* GREEN SECTION - TESTIMONIAL */

#green {
	
	min-height: 300px;
	background: #00ab6b;
	color: white;
}

#green tgr {
	font-weight: 700;
	letter-spacing: 1px;
}

/* FOOTER */
#f {
	padding-top: 4px;
	padding-bottom: 4px;
	background: #2f2f2f;
	color: white;
}

#f h5 {
	margin-top: 10px;
	letter-spacing: 1px;
}

#f i {
	font-size: 45px;
	margin: 15px;
}

#f a {
	color: #b9b9b9;
}

#f a:hover {
	color: #03C9A9;
}

#f p {
	margin: 20px;
}

/* Partner posts */

.p-story_content {
	text-align: left; margin-bottom: 105px;
}

.p-story_img {
margin-bottom: 10px;

}

.p-story_kicker {
	margin-bottom: 5px;
	text-transform: uppercase;
}

.p-story_title {
	color: #191919;
    font-weight: 700;
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 25px;
    line-height: 2.5rem;
    font-family: inherit;
    margin: 0;
    word-wrap: break-word;
}

.p-story_metadata-container {
	margin-bottom: 5px;
    margin-top: 5px;
    color: gray;
}

.p-story_description {
	color: #444;
    font-weight: normal;
    font-size: 14px;
    font-size: 1.5rem;
    line-height: 20px;
    font-family: inherit;
    line-height: 2rem;
    margin: 0 0 10px;
}
.p-date {
	color: #ccc;
}

/* rm style */
.text-block {
    padding: 30px 30px 0 20px;
}
.changing-image {
    padding: 0 !important;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .7s;
    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -ms-transition: opacity .7s;
    -khtml-transition: opacity .7s;
    -o-transition: opacity .7s;
}

.grey {
    background-color: #FAFAFA;
}

.container {
    max-width: 1083px;
}

.changing-image.right-image {
    text-align: right;
}

.changing-image.left-image {
    text-align: left;
}

.changing-image img {
	    padding-left: 23px;
    padding-right: 23px;
	}

@media (min-width: 768px) {
	.changing-image img {
	    max-width: 450px;
	}
	.text-block .left {
    padding-right: 20%;
}

.text-block .right {
    padding-left: 20%;
}

}

@media (max-width: 768px) {

	.left, .right {
	    text-align: center !important;
	    padding: 30px 20px;
	}
	#h h1 {
		font-size: 33px;
	}
}

@media (max-width: 992px) {

	.text-block {
    padding: 0 30px 0 20px;
	}
}

.changing-image .hover-image:hover{opacity:100}
.changing-image.right-image .hover-image{left:auto;right:0}

section {
    padding: 30px 0;
}

.text-block h3 {
	margin-top: 0px;
	font-weight: bold;
}



/* end rm style */

/* arrow */

.arrow_svg {
    stroke-width: 1.2px;
    stroke: #021064;
    position: relative;
    fill: transparent;
    width: 20px;
    height: 50px;
}

@media (min-width: 992px) {
	.arrow_svg {
	    width: 40px;
	    height: 100px;
	}
}

.arrow_svg, .close_svg {
    stroke: #ffffff;
}

.arrow_down {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}



/* FAQ style */
.faq:hover
{
    cursor:pointer;
}

.faqheader {
	margin-bottom: 20px;
}

/* pricing style */

* {
    box-sizing: border-box;
}
.title {
  display: block;
  font-size: 30px;
  margin:15px 0 10px;
  padding: 0;
  text-align: center;
}
.sub-title {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #111;
  margin-bottom: 30px;
  font-size: 14px;
	margin-top: 13px;
}
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    /* box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2) */
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}
.bg-green{
	background-color:#4CAF50 !important;
	}
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    
    border: none;
    color: #fff;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;

    border-radius: 4px;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .25px;
}

.table-columns {
	margin-bottom: 20px;
}

.tp{
	margin-top: 29px;
}

/* thank you page */

#ty h1 {
    color: white;
    font-size: 65px;
}

